/* START MAP */
    gmp-map 
    {
        height: 300px;
        width: 300px;
    }

    .map-responsive{

        overflow:hidden;

        padding-bottom:56.25%;

        position:relative;

        height:0;

    }

    .map-responsive gmp-map{

        left:0;

        top:0;

        height:100%;

        width:100%;

        position:absolute;

    }
/* END MAP */

.radio-image label > input {
    display: none;
}

.radio-image label {
    display: inline-block;
    
    text-align: center;
}

.radio-image label > input + img {
    cursor: pointer;
    border: 4px solid pink;
    border-radius: 100%;
    
}

.radio-image label > input:checked + img {
    border: 4px solid red;
}



.header 
{
    position: relative;
    font-weight: 200;
    padding-bottom: 30px;
    color: #ffffff;
    height: 9em;
    background:-webkit-linear-gradient(115deg, #ef223e 5%, #f33c54 10%, #f85c70 16%, #ffdfdf 50%, #f41432 100%);   
    opacity: 0.9;  
}

.card
{  
    width: 300px;
    height: 300px;
    overflow:hidden;
    display: block;
    margin: auto;
    position:relative;
    background-size:cover;
    background-position:center center; 
}

  /* Estilos específicos para telas pequenas (exemplo: telas menores que 768px de largura) */
@media (max-width: 768px) 
{
    .card 
    {
        width: 200px;
        height: 200px;
    }
}
  
  
.overlay
{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: rgba(1,1,1,0.7);
    transition-duration: 0.3s;
    opacity: 0;
}
  
.overlay > h1
{
    align-items: center;
    margin: auto;
    width: 50%;
    transition-duration: 0.6s;
}

.overlay:hover
{
    opacity: 1; 
}
  
/* Estilo padrão */
.overlay:hover > h1 
{
    padding: 70px 0 5px 0;
}
  
/* Estilo para telas menores que 768px de largura */
@media (max-width: 768px) 
{
    .overlay:hover > h1 
    {
        padding-top: 50px;
    }
}
  
      canvas {
        width: 100% !important;
        height: 100% !important;
      }
      

      .rotate{
        transition: all 3s;
        cursor: pointer;
    }
    
    .rotate:hover{
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }